@media print {
    aside, #account, #barre-grise, .social, #add-to-list, #infolettre, #footer {
        display: none;
    }
   
.col-left-cat {
    margin: 0;
    padding: 0;
    float: left;
    background-image: none;
    width: calc(100% - 10px);
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    align-content: stretch;
    
  }
  #main-image{
      display: inline-block;
      width: 30%;
      max-width: 300px;
      height: auto;
      padding: 10px 0;
  }
  #description, #preparation {
      margin-top: 20px !important;
  }
  .p-single {
      font-size: 12px;
  }
  .main-title-recipe {
      padding-top: 5px;
  }
}