@import url("https://fonts.googleapis.com/css2?family=Allison&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap");


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*--------------------Declaration des variables-------------------- */

:root {
  --main-dark: #72a603;
  --main-medium: #707070;
  --main-light: #f2f2f2;

  --yellow: #f2a413;
  --orange: #d88014;
  --red: #be0503;

  --grey-dark: #2e2d2d;
  --grey-medium: #686565;
  --grey-light: #dedada;

  --mt: 85px;
}
html {
  background: var(--gris-pale);
  font: 91%/1.3rem Montserrat, Arial, Helvetica, sans-serif;
}

@media screen and (min-width: 992px) {
  html {
    font: 109%/1.7rem Montserrat, Arial, Helvetica, sans-serif;
  }
}
@media screen and (min-width: 768px) {
  html {
    font: 100%/1.7rem Montserrat, Arial, Helvetica, sans-serif;
  }
}

body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
}

/*------------------typo & style--------------*/


.main-title {
  color: white;
  font-weight: 700;
  letter-spacing: 0.2rem;
  padding-top: 70px;
}
@media screen and (max-width:650px) {
  .main-title {
    font-size: 1.2rem;
  }
}
@media screen and (max-width:400px) {
  .main-title {
    font-size: 1.1rem;
  }
}

.main-title-recipe {
  color: white;
  font-weight: 600;
  letter-spacing: 0.2rem;
  padding-top: 30px;
  font-size: 1.5rem;
}
.recipe-info{
  color: white;
  text-transform: uppercase;
  font-size: 1rem;
  line-height: 105%;
  font-size: 0.9rem;
}
.sous-titre {
  font-family: "Allison", cursive;
  font-size: 44px;
  padding: 10px 0;
  color: white;
}
@media screen and (max-width:650px) {
  .sous-titre {
    font-size: 30px;
  }
  
}
.align-v {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.align-v2 {
  height: 100%;
  margin: auto 50px;
}
.align-text-l {
  text-align: left;
}
.align-text-r {
  text-align: right;
}
.align-text-c {
  align-content: center;
  text-align: center;
}
.center {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.shadow {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
@media screen and (max-width:768px) {
  #featured_article_image, #featured_article_preview {
  box-shadow: none;
  }
  .double-box{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  #last-recipes{
    margin-top: 50px;
  }
  
}


section {
  margin-top: 50px;
  padding: 0;
}
@media screen and (max-width: 992px) {
  section {
    margin-top: 40px;
  }
}
@media screen and (max-width: 768px) {
  section {
    margin-top: 35px;
  }
}
.mt-100{
  margin-top: 100px;
}
.mt-50{
  margin-top: 50px;
}
.mt-0{
  margin-top: 0 !important;
}
.mb-sm{
  margin-bottom: 15px;
}
.marginTop{
  margin-top: var(--mt) !important;
}

.height-big {
  height: 400px;
}
.height-sm{
  height: 200px;
}

.p-0{
  padding: 0;
}
.pb-0{
  padding-bottom: 0 !important;
}
.m-0{
  margin: 0 !important;
}
.p-sm{
  padding: 2px;
}
.p-main{
  font-size: 1rem;
  font-weight: 300;
  color: var(--grey-dark);
  padding: 10px 0 30px;
  line-height: 110%;
}
  
.p-single{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  font-weight: 300;
  color: var(--grey-dark);
  padding: 10px 0 30px;
  line-height: 115%;
}

.p-blog-intro{
  font-size: 0.9rem;
  font-weight: 400;
  margin: 0 0.5rem 0rem;
  color: var(--grey-medium);
  line-height: 110%;
  padding: 10px 0;

}

@media screen and (max-width: 768px) {
  .p-main, .p-single{
    font-size: 0.8rem;
  }
  .p-blog-intro{
    font-size: 0.9rem;
    line-height: 105%;
  }
}

@media screen and (max-width: 600px) {
  .p-main, .p-single{
    font-size: 0.9rem;
    line-height: 105%;
  }
  .p-blog-intro{
    font-size: 0.9rem;
  }
}

.date{
  font-size: 0.8rem;
  color: var(--yellow);
  font-weight: 600;
  padding-bottom: 2rem;
}

h2{
  
  font-weight: 400;
  font-size: 1.4rem;
  padding: 20px 0 50px;
}
.section-title {
  
  color: var(--grey-dark);
}

h3 {
  font-weight: 500;
  font-size: 1rem;
  color: var(--grey-dark);
  text-transform: uppercase;
}

.title-sm{
  font-weight: 500;
  font-size: 1.1rem;
  color: var(--grey-dark);
}

h4{
  font-size: 0.8rem;
  color: var(--grey-medium);
  margin: 0.5rem 0.5rem 0 0.5rem;
  line-height: 1.2rem;
  
}
h5{
  color: var(--yellow);
  font-size: 0.8rem;
  font-weight: 600;
  margin: 0 0.5rem 0rem;
  line-height: 1.2rem;
}
@media screen and(max-width:996px){
  
  h2{
   
   font-size: 1.2rem;
  }
  .title-sm{
    font-size: 1rem;
  }

}



/*-----------------TopBar & Logo---------------------*/
.fixed-top{
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}
.logo-big {
  font-size: 2rem;
  padding: 10px 0 10px 10px;
}
.logo-leaf-big {
  font-size: 1.4rem;
  padding: 0px 0px 2px 4px;
}

.logo-small {
  font-size: 1rem;
}

.logo-leaf-small {
  font-size: 1rem;
  padding: 0px 0px 2px 4px;
}
.logo-link{
  text-decoration: none;
  color: white;
}
.logo-link:hover .logo-link:visited .logo-link:active{
  
  color: white;
}

.account {
  font-size: 0.8rem;
  padding-top: 20px;
}
.account-icon {
  font-size: 0.7rem;
}

@media screen and(max-width:992px) {
  .logo-big{
    font-size: 1.5rem;
  }
  .logo-leaf-big{
    font-size: 1.2rem;
  }
  .account{
    font-size: 0.7rem;
  }
  .account-icon{
    font-size: 0.6rem;
  }
}
@media screen and (max-width:768px) {
  .logo-big{
    font-size: 1.2rem;
  }
  .logo-leaf-big{
    font-size: 1rem;
  }
  .account {
    display: none;
  }
  .account-icon {
    display: none;
  }
}

.search-container {
  padding-left: 5px;
  float: left;
  width: calc(100% - 15px);
  margin-right: 0;
  text-align: right;
}

.search {
  background-color: transparent;
  border: 1px solid var(--grey-medium);
  color: #fff;
}
.search-icon-container {
  width: 10px;
  float: right;
  padding: 2px 0;
  margin: 0;
}
.search-row{
  width: 100%;
  float: left;
}
@media screen and (max-width:992px) {
  .search-icon-container{
    padding-left: 5px;
    font-size: 0.7rem;
  }
  .search-container{
    text-align: left;
    padding-left: 10px;
    width: auto;
  }
  .search-icon-container, .search-row {
    float: left;
    
  }
  .search-icon-container{
    padding-left: 5px;
    font-size: 0.7rem;
  }

}


/*-----------------Main Menu-----------------*/
.nav-bar-links {
  display: flex;
}
.nav-bar-links ul {
  list-style: none;
  display: flex;
  justify-content: left;
  position: relative;
}
.nav-bar-links ul li a {
  font-size: 0.8rem;
  font-weight: 200;
  text-transform: uppercase;
  color: var(--main-light);
  text-decoration: none;
  padding-right: 20px;
  
}
@media screen and (max-width:992px) {
  .nav-bar-links ul li a {
    font-size: 0.7rem;
  }
}
.nav-bar-links ul > li:not(:first-child) > a {
  margin-left: 20px;
  
}
@media screen and (max-width: 450px) {
  .nav-bar-links ul > li:not(:first-child) > a {
    margin-left: 10px;
    
  }
}
.nav-bar-links ul > li:first-child > a{
  padding-left: 10px;
  padding-right: 10px;
}
.nav-bar-links ul > li:first-child > a:hover{
  padding-left: 10px;
  padding-right: 10px;
}

.nav-bar-links > ul > li:hover,
.nav-bar-links > ul > li:focus {
  color: var(--grey-dark);
  background-color: var(--main-dark);
  
}

.nav-bar-links ul ul {
  display: none;
  position: absolute;
 background-color: var(--main-dark);
  top: 2rem;
  padding: 1.5rem;
  min-width: 400px;
  
  
}

.nav-bar-links ul li:hover > ul {
  /*display: inherit;*/
  display: block;
  margin-top: -4px;
}
@media screen and (max-width:768px){
  .nav-bar-links ul li:hover > ul{
    margin-top: -10px;
  }
}
.div-nav{
  position: relative;
}
.sub-nav-li{
 
  padding: 0 0.1rem 10px 0.8rem;
  line-height: 0.9rem;
  
}
.sub-nav-li a:hover{
  color: white ;
 
}
.sub-nav-li::before{
  
  font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f06c";
    color: white;
    opacity: 0;
    position: absolute;
    left: -0.7rem;

}
.sub-nav-li:hover::before{
  opacity: 1;
}

.login{
  color: white;
  text-decoration: none;
}
.login:visited {
  color: white;
}
.login:hover {
  text-decoration: underline;
} 
.login:active {
  color: var(--yellow);
} 
/*-----------------Buttons & links---------------------*/

.btn {
  border-radius: 30px;
}
.btn-big {
  width: 300px;
  height: 2.2rem;
  margin-top: 3rem;
  margin-bottom: 8rem;
}
@media screen and (max-width:450px){
  .btn-big {
    width: 250px;
    height: 2.2rem;
    margin-top: 3rem;
    margin-bottom: 8rem;
  }
}
.btn-green {
  background-color: var(--main-dark);
  transition: all 0.25s ease-in-out;
}
.btn-green:hover{
  background-color: var(--yellow);
}
p.p-btn-big {
  color: white;
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
}

.btn-recette{
  width: 6.7rem;
  margin: 0 auto;
  text-align: center;
  font-size: 0.8rem;
  font-weight: 600;
  color:#fff;
   margin-top: 1rem;
}
.btn-lire {
  padding: 2px;
  border-color: var(--main-dark);
  border-style: solid;
  border-width: 0.8px;
  width: 6.5rem;
  margin: 0 auto;
  text-align: center;
  font-size: 0.8rem;
  font-weight: 600;
  color: var(--main-dark);
  margin-top: 0.5rem;
  transition: all 0.25s ease-in-out;
}
.btn-lire:hover{
  background-color: var(--main-dark);
  color: white;
}
.btn-voir{
  
  background-color: var(--main-dark);
  transition: all 0.25s ease-in-out;
  width: 6.7rem;
  margin: 0 auto;
  text-align: center;
  font-size: 0.8rem;
  font-weight: 600;
  color:#fff;
  margin-top: 1rem;
  border-color: var(--main-dark);
  border-style: solid;
  border-width: 0.8px;
}  
.btn-voir:hover, .btn-voir:visited{
  color: var(--main-dark);
  background: white;
  border-color: #72a603;
 
}
.btn-add{
  color: white;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.deco_none{
  text-decoration: none;
}
.link_retour, .link_retour:visited{
  color: var(--main-dark);
}
.link_retour:hover{
  color: white;
}

/*return arrow*/

.return, .return:visited{
  color: var(--main-dark);
  
}
.return:hover{
  color: var(--orange);
}

.link_category{
  color: var(--yellow);
}
.link_category:visited, .link_category:hover {
  color: var(--orange);  
}
/*-----------------Social Media---------------------*/
.partager{
  color: white;
  font-size: 0.6rem;
  display: block;
  margin: -75px 0 0 2px;
  background-color: rgb(43, 41, 41, 0.8);
  width: 215px;
  text-align: center;
  border-radius: 5px;
  
}
.social {
  
  height: 45px;
  
}
.social-icons {
  color: white;
  font-size: 24px;
  display: flex;
}
.social-box {
  width: 40px;
  height: 40px;
  margin: 0 2px;
}
.facebook {
  background-color: #3b5998;
}
.pinterest {
  background-color: #cb2027;
  
}
.linkedin {
  
  background-color: #0077B5;
  font-size: 28px;
}
.twitter {
  background-color: #1da1f2;
}
.envelope {
  background-color: #72a603;
}
.facebook, .pinterest, .linkedin, .twitter, .envelope{
  cursor: pointer;
}
.facebook:hover, .pinterest:hover, .linkedin:hover, .twitter:hover, .envelope:hover{
  opacity: 0.8;
}
.share{
  text-decoration: none;
  color: white;
}
.share:hover, .share:active, .share:visited, .share:focus{
  color: white;
}
/*-----------------other---------------------*/

.bg-dark {
  background-color: var(--main-dark);
  color: var(--main-light);
}
.bg-medium {
  background-color: var(--grey-dark);
  color: var(--main-light);
}
.bg-white {
  background-color: white;
  color: var(--main-dark);
}
.bg-light-green{
  background-color: rgba(114, 166, 3, 0.2);
}
.bg-light-yellow{
  background-color: rgba(242,164,19,0.2);
  
}

#main-image{
  display: none;
}

.header-main {
  background-color: var(--grey-dark);
  background: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.5) 0%,
      rgba(0, 0, 0, 0.5) 90%
    ),
    url(../images/image4.jpg) no-repeat;
  background-size: cover;
  background-position-y: 50%;
  height: 25rem;
  margin-top: 65px;
}

.header-subpage {
  background-color: var(--grey-dark);
  background: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.9) 0%,
      rgba(0, 0, 0, 0) 100%
    ),
    url(../images/image11.jpg) no-repeat;
  background-size: cover;
  background-position-y: 50%;
  height: 12rem;
  margin-top:40px;
}
@media screen and (max-width:992px) {
  .header-main {
    margin-top: 85px;
    height: 11rem;
  }
  .header-subpage{
    margin-top: 60px;
    min-height: 9rem;
  }
}
@media screen and (max-width:768px) {
  .header-main {
    margin-top: 65px;
  }
  .header-subpage{
    margin-top: 40px;
  }
}
@media screen and (max-width:400px ) {
  .header-main{
    height: 27rem;
  }
  
}
/*-----------------cta ---------------------*/
.cta{
  max-width: 600px;
  margin: 40px auto;
}

.title-cta{
  padding: 70px 5px 20px;
  color: var(--grey-medium);
  font-size: 1.2rem;

}
.cta-box{
  margin: 10px auto 80px;
  max-width: 20rem;
  background-color: #fff;
  border-style: none;
  border-radius: 5px;
  color: var(--main-dark);
}
.cta-input{
    width: 90%;
    padding: 10px;
    outline: none;
    border: none; 
    font-style: italic;
    background-color: white;
}

.btn-mailing{
  background-color: white;
  color: var(--main-dark);
  border: none;
  cursor: pointer;
  padding: 0;
  margin: 0;
  font-size: 1.1rem;
}
.btn-mailing:hover {
  
  color: var(--orange);
}

@media screen and (max-width:992px) {
  .cta{
    margin: 10px auto;
  }
  .title-cta{
    padding: 40px 5px 10px;
  }
  .cta-box{
    margin: 10px auto 40px;
    
  }

}
/*-----------------ADMIN----------------------*/
.circle-btn{
  display:inline-block;
}
.plus{
  padding-left: 5px;
  color: var(--main-dark);
 
  
}
.minus{
  padding-left: 5px;
  color: var(--red);
 
}
.hidden{
  display: none;
}
.admin-links, .admin-links:visited{
  font-size: 0.8rem;
  color: var(--main-dark);
}
.admin-links:hover{
  font-weight: bold;
  text-decoration: none;
}
.edit-img{
  width: 400px;
}
/*-----------------Footer---------------------*/
footer{
  margin: 0;
  padding: 0;
}
.p-footer{
  padding: 10px 0 10px;
  color: var(--main-dark);
  font-size: 0.75rem;
}

.footer-links, .footer-links:visited{
  
  color: var(--main-dark);
}
.footer-links:hover{
  font-weight: bold;
  text-decoration: none;
}
@media screen and (max-width:996px) {
  .p-footer{
    padding: 8px 0 8px;
  }
}
/*------------------Error-----------------------*/
.error{
  padding-bottom: 3rem;

}
#btn-erreur{
  width: auto !important;
  max-width: 300px !important; 
}
.oups{
  color: var(--orange)
}
.error-msg{
  font-size: 0.9rem;
  padding-bottom: 0.5rem;
  
}
/* ---------------Email recipe modal ---------------*/
/* The Modal (background) */
.modal {
  display: none; 
  position: fixed; 
  z-index: 1; 
  padding-top: 100px; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(43, 41, 41); /* Fallback color */
  background-color: rgba(43,41,41,0.8); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 40px;
  border: none;
  border-radius: 10px;
  width: 80%;
}

/* The Close Button */
.close, .close2 {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus,
.close2:hover,
.close2:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/* ---------------test area ---------------*/
